<template name="listOrganisations">
	<h1>List of Organisations</h1>
	{{#each this}}
		{{> organisationTile}}
	{{/each}}
</template>

<template name="listProjects">
	<h1>List of Projects for {{organisation.name}}</h1>
	<ul class="projects-list">
	{{#each projects}}
		{{#unless hidden}}
			<li>{{>projectTile}}</li>
		{{/unless}}
	{{/each}}
	</ul>

	{{#if isOrganisationMember}}
		<a class="pure-button" href="/organisation/{{organisation._id}}/new-project">Add a new project</a>
	{{/if}}
</template>

<template name="organisationTile">
	<div>
		<h3><a href="/organisation/{{_id}}/list">{{name}}</a></h3>
	</div>
</template>

<template name="projectTile">
	<div>
		<a href="/project/{{_id}}">{{name}}</a>
	</div>
</template>
