<template name="listOrganisations">
	<h1>List of Organisations</h1>
	{{#each this}}
		{{> organisationTile}}
	{{/each}}
</template>

<template name="listProjects">
	<h1>List of Projects for {{name}}</h1>
	{{#each projects}}
		{{#unless hidden}}
			{{>projectTile}}
		{{/unless}}
	{{/each}}
	<a href="/organisation/{{_id}}/project/new">Add a new project</a>
</template>

<template name="organisationTile">
	<div>
		<h3><a href="/organisation/{{_id}}/project/list">{{name}}</a></h3>
		<div>
			{{#each projects}}
				{{#unless hidden}}
					{{>projectTile}}
				{{/unless}}
			{{/each}}
		</div>
	</div>
</template>

<template name="projectTile">
	<div>
		<a href="project/{{_id}}">{{name}}</a>
	</div>
</template>
