<template name="accounts.index">
	<h1>My account</h1>

	{{#if currentUser}}
		<form class="pure-form pure-form-aligned">
			<fieldset>
			{{#with currentUser}}
				<div class="pure-control-group">
					<label for="name">Username</label>
					{{username}}
				</div>
				<div class="pure-control-group">
					<label for="email">Email</label>
					{{#each emails}}
						{{address}}<br>
					{{/each}}
				</div>
			{{/with}}

			<h2>My organizations</h2>
			{{#each this}}
				<div class="pure-control-group">
					<label for="organisation">Organisation</label>
					<a href="/organisation/{{_id}}/list">{{name}}</a>
				</div>
			{{/each}}
			</fieldset>
		</form>
	{{else}}
		You are not connected
	{{/if}}

</template>

